body {
    background-color: rgb(244, 248, 249);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


/* blue background */
/* rgb(14, 100, 210) */

/* grey background */
/* rgb(244, 248, 249) */

/*grey blue text*/
/* rgb(72, 84, 101) */

/*dark grey blue text*/
/*rgb(50, 60, 71)*/

/*white color*/
/* rgb(255, 255, 255) */

.outer-container {
	margin-top: 20px;
}

.card-body .container {
	justify-content: flex-end;
}

.card {
	/*max-width: 1000px;*/
}

.card .card-title {
	font-weight: 700;
}

.form-container {
	padding-top: 15px;
}

.form-container .form-control {
	display: inline-block;
	width: 50%;
}

.form-container span {
	padding-right: 15px;
	font-weight: 700;
}

.form-container select {
	float: right;
}